extends partials/base

block content
  h1=pageTitle
  form(method="post")
    div.content
      div.textbox
        span 아이디
        input(type="text",name="username",placeholder="아이디")
      div.textbox 
        span 비밀번호
        input(type="password",name="password",placeholder="비밀번호")
      div.textbox 
        span 비밀번호확인 
        input(type="password",name="passwordConfirm",placeholder="비밀번호확인")
      div.textbox 
        span 이름 
        input(type="text",name="name",placeholder="이름")
      div.textbox 
        span 나이
        input(type="text",name="age",placeholder="나이")
      div.button
        input(type="submit",value="회원가입")
    div(style="color:red;")=errorMessage