extends partials/base
include partials/movie
block content
  h1=pageTitle
  form(method="get")
    div.content
      div.textbox
        span 동영상
        input(placeholder="동영상검색",name="searchText" )
        input(type="submit",value="search")
  div.container
    each movie in movies
      +movie(movie)