extends partials/base
include partials/movie
block content
  h1=pageTitle
  if year
    h1 Search by year #{year}
  else if rating 
    h1 Search by rating #{rating}
  form(method="get")
    input(placeholder="search by text",name="searchText" )
    input(type="submit",value="search")
  div.container
    each movie in movies
      +movie(movie)