html 
    head 
        tile dalkdjlkajdf 
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")        
    body 
        block content
    block scripts 
    include footer