html 
    head 
        title wetube 
        script(
      src="https://kit.fontawesome.com/6ade36b36a.js"
      ,crossorigin="anonymous"
      ,defer)
        link(rel="stylesheet", href="/static/css/styles.css")        
    body 
        div#wrap
            include header                
            main
                block content
            include footer
    block scripts 